<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="http://www.loowootech.com/Stock"/>
    <add key="ProductId" value="7beb562e-1589-4ef8-85da-f66caf3bd0ca"/>
    <add key="Name" value="浙江省农村存量建设用地质检软件"/>
    <!--<add key="Server" value="http://www.loowootech.com/Planner"/>
    <add key="ProductId" value="5ED8D308-0DC2-490A-8373-E0F6267F1B22"/>
    <add key="Name" value="永康市土地规划管理系统"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
