# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/packages/
/LoowooTech.Stock/bin
/LoowooTech.Stock/obj
/LoowooTech.Stock.Common/bin
/LoowooTech.Stock.Common/obj
/LoowooTech.Stock.Models/bin
/LoowooTech.Stock.Models/obj
/LoowooTech.Stock.Rules/bin
/LoowooTech.Stock.Rules/obj
/LoowooTech.Stock.Tool/bin
/LoowooTech.Stock.Tool/obj
/LoowooTech.Stock.ArcGISTool/bin
/LoowooTech.Stock.ArcGISTool/obj
/LoowooTech.Stock.Console/bin
/LoowooTech.Stock.Console/obj
/LoowooTech.Stock.WorkBench/bin
/LoowooTech.Stock.WorkBench/obj
/.vs
*.suo
.user
/LoowooTech.Updater/bin
/LoowooTech.Updater/obj
/LoowooTech.Updater/bin/Debug
/LoowooTech.Updater/obj/Debug
/LoowooTech.Updater/bin/Temp
