<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FIELD" value="FieldInfo.xml"/>
    <add key="DataTree" value="DataTree.xml"/>
    <add key="CodeCity" value="CodeCity.xml"/>
    <add key="Report" value="report.xls"/>
    <add key="Statistic" value="Statistic.xls"/>
    <add key="Server" value="http://www.loowootech.com/Stock"/>
    <add key="ProductId" value="7beb562e-1589-4ef8-85da-f66caf3bd0ca"/>
    <add key="Name" value="浙江省农村存量建设用地质检软件"/>
  </appSettings>
</configuration>