<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Layers>
    <Layer Name="XZQ_XZ" NameInMap="XZQ_XZ"></Layer>
    <Layer Name="XZQ_XZC" NameInMap="XZQ_XZC"></Layer>
    <Layer Name="XZQJX" NameInMap="XZQJX"></Layer>
    <Layer Name="DCDYTB" NameInMap="DCDYTB"></Layer>
  </Layers>
  <Folders>
    <Folder Name="1空间数据库">
      <File Regex="^[\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村存量建设用地调查成果元数据.xml$" Name="农村存量建设用地调查成果元数据.xml" ></File>
      <File Regex="^[\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村存量建设用地调查成果空间数据库.mdb$" Name="农村存量建设用地调查成果空间数据库.mdb"></File>
      <File Regex="^[\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)单位代码表.xls$" Name="单位代码表.xls"></File>
    </Folder>
    <Folder Name="2栅格图件">
      <Folder Name="县级成果">
        <File Regex="^[\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村存量建设用地调查单元分布图.jpg$" Name="农村存量建设用地调查单元分布图.jpg"></File>

      </Folder>
      <Folder Name="乡镇级成果">
        <File Regex="^[\u4e00-\u9fa5]{3,}\(330[0-9]{6}\)农村存量建设用地调查单元分布图.jpg$" Multiple="True" Name="农村存量建设用地调查单元分布图.jpg" ></File>
      </Folder>
    </Folder>
    <Folder Name="3统计表格">
      <File Regex="^表1 [\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村存量建设用地总体情况汇总表.xls$" Name="农村存量建设用地总体情况汇总表.xls"></File>
      <File Regex="^表2 [\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村存量宅基地基本情况汇总表.xls$" Name="农村存量宅基地基本情况汇总表.xls"></File>
      <File Regex="^表3 [\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村存量经营性建设用地基本情况汇总表.xls$" Name="农村存量经营性建设用地基本情况汇总表.xls"></File>
      <File Regex="^表4 [\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村存量公共管理及公共服务设施用地基本情况汇总表.xls$" Name="农村存量公共管理及公共服务设施用地基本情况汇总表.xls"></File>
      <File Regex="^表5 [\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村其它存量建设用地基本情况汇总表.xls$" Name="农村其它存量建设用地基本情况汇总表.xls"></File>
    </Folder>
    <Folder Name="4文档报告">
      <File Regex="^[\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村存量建设用地调查工作报告.doc$" Name="农村存量建设用地调查工作报告.doc"></File>
      <File Regex="^[\u4e00-\u9fa5]{3,}\(330[0-9]{3}\)农村存量建设用地调查技术报告.doc$" Name="农村存量建设用地调查技术报告.doc"></File>
    </Folder>
  </Folders>
  <Rules>
    <Category Name="成果完整性">
      <Rule ID="11" Title="目录及文件规范性" Class="FileFolderStandardRule" Name="LoowooTech.Stock.Rules"></Rule>
    </Category>
    <Category Name="矢量数据检查">
      <Rule ID="1201" Title="提交成果数据是否能够正常打开" Class="FileOpenRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="2101" Title="矢量图层是否完整，是否符合《浙江省农村存量建设用地调查数据库标准》的要求" Class="VectorRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="2201" Title="平面坐标系统是否采用‘1980’西安坐标系、3度带、带带号，检查高程系统是否采用‘1985’国家高程基准，检查投影方式是否采用高斯-克吕格投影" Class="CoordinateRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="3101" Title="检查图层名称、图层中属性字段的数量和属性字段代码、类型、长度、小数位数是否符合《浙江省农村存量建设用地调查数据库标注》要求" Class="StructureRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="3201" Title="属性字段的值是否符合《浙江省农村存量建设用地调查数据库标准》规定的值域范围" Class="ValueRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="3301" Title="行政区编码一致性检查" Class="XZCDMRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="3302" Title="标识码唯一性检查" Class="BSMRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="3401" Title="数据库计算面积与属性填写面积一致性" Class="TBAreaRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="4101" Title="拓扑关系" Class="TopologyRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="4201" Title="面层是否存在不符合上图要求的碎片多边形" Class="SplinterRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="4301" Title="面层单个图斑要素的空间不连续" Class="ContinuousRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="5101" Title="图层内属性一致性" Class="TBBHRule" Name="LoowooTech.Stock.Rules"></Rule>
    </Category>
    <Category Name="汇总表格检查">
      <Rule ID="6101" Title="汇总表的记录条数的缺失，多余，检查汇总表记录中病毒属性值与数据库图层属性值是否完全一致" Class="ExcelValueLogicRule" Name="LoowooTech.Stock.Rules"></Rule>
      <Rule ID="6201" Title="表格数据中，各级汇总面积和数据库汇总面积的一致性" Class="ExcelValueCollectRule" Name="LoowooTech.Stock.Rules"></Rule>
    </Category>
  </Rules>
</Config>